# PyCharm files
.idea

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python compiled
*.pyc
python/__pycache__

# PyInstaller
*.spec
python/build
python/dist

# Logs and data
*.json
*.log
